*
{
    font-family: 'Roboto', sans-serif;
}
body
{
}
.login{
 width: 700px;
 border: 3px solid rgb(80, 79, 79);;
 padding:15px;
 box-shadow: 0 0 5px 1px rgb(80, 79, 79);
 margin: auto;
 margin-top: 120px;
}
.logo
{
    display: flex;
}
.logo-main
{
    margin: auto;
}
.textlogin
{
 margin: 0;
 font-size: 32px;
 font-weight: 600;
 color:#153f53;
margin-top: -130px;
margin-left: 280px;
}
.username
{
width:280px;
height: 20px;
margin-bottom: 20px;
border-top:none;
border-left: none;
border-right: none;;
border-bottom-color: #153f53;
outline: none;
}
.password
{
    width:280px;
    height: 20px;
    border-top:none;
    border-left: none;
    border-right: none;;
    border-bottom-color: #153f53;
    outline: none;
}
.form
{
    text-align: center;
    display: grid;
   margin-top: 30px;
}
.inputusername
{
    margin: 0px;
    color:#153f53;
    font-weight: 600;
    border-color: red;
}
.inputpassword
{
    margin: 0px;
    color:#153f53;
    font-weight: 600;
}
.buttondangnhap
{
    width:150px;
    height: 40px;
    border: none;
    border-radius: 4px;
    margin-top:20px;
    margin-left: 43%;
    background-color: #153f53;
    color:white;
    font-size: 16px;
    cursor: pointer;
}