<link rel="preconnect" href="https://fonts.googleapis.com">
<div class="login">
<div class="logo">
<img src="../assets/img/Logo.png" alt="thiện" class="logo-main">
</div>
<p class="textlogin"> ĐĂNG NHẬP</p>
<form class="form">
    <p class="inputusername"> USERNAME: <input type="text" name="username" class="username" autocomplete="none"> </p>
    <P class="inputpassword">PASSWORD: <input type="password" name="password" class="password"></P> 
    <button routerLink="/trangchu" routerLinkActive="active" ariaCurrentWhenActive="page" class="buttondangnhap"> Đăng Nhập</button>
</form>
</div>