<link rel="preconnect" href="https://fonts.googleapis.com">
 <div>
 <p class="header">  </p>
 <div class="siderbar">
  <p class="siderbar-list">Quản lý sản phẩm </p>
  <p class="siderbar-list">Thêm sản phẩm </p>
  <p class="siderbar-list">Xóa sản phẩm </p>
  <p class="siderbar-list">Chỉnh sửa sản phẩm </p>
  <p class="siderbar-list">Quản lý nhân viên </p>
 </div>
 <div class="anhnen">
  <img src="../assets/img/siderbar.png" alt="" class="anhquangcao-anh">
  <div class="name">
  <p class="name1"> ĐẸP COSMETISC</p>
  <p class="name2"> NƠI VẺ ĐẸP LÊN NGÔI</p>
</div>
<div class="function"> 
    <p class="function-name">ADMIN-QUẢN TRỊ VIÊN: NGUYỄN THỊ ÁNH TUYẾT</p>

</div>
 </div>
 <div class="chucnang">
    
    <div class="chucnangg">
    <p routerLink="/quanlysanpham" routerLinkActive="active" ariaCurrentWhenActive="page" class="chucnang1"> <img src="../assets/img/chucnang1.jpg" alt="" class="anhchucnang1"> <span class="chu"> Quản lý sản phẩm </span></p>
    <p routerLink="/themsanpham" routerLinkActive="active" ariaCurrentWhenActive="page" class="chucnang1"> <img src="../assets/img/chucnang2.jpg" alt="" class="anhchucnang2"> <span class="chu"> Thêm sản phẩm </span></p>
    <p routerLink="/xoasanpham" routerLinkActive="active" ariaCurrentWhenActive="page" class="chucnang1"> <img src="../assets/img/chucnang3.jpg" alt="" class="anhchucnang3"> <span class="chu"> Xóa sản phẩm </span></p>
    <p routerLink="/chinhsuasanpham" routerLinkActive="active" ariaCurrentWhenActive="page" class="chucnang1"> <img src="../assets/img/chucnang4.jpg" alt="" class="anhchucnang4"> <span class="chu"> Chỉnh sửa sản phẩm </span></p>
    <p routerLink="/quanlynhanvien" routerLinkActive="active" ariaCurrentWhenActive="page" class="chucnang1"> <img src="../assets/img/chucnang5.jpg" alt="" class="anhchucnang5"> <span class="chu"> Quản Lý Nhân Viên </span></p>
    <p routerLink="/dangnhap" routerLinkActive="active" ariaCurrentWhenActive="page" class="chucnang1"> <img src="../assets/img/chucnang6.jpg" alt="" class="anhchucnang6"> <span class="chu"> Đăng Xuất </span></p>
</div>
    
    </div>
</div>